.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  background: #006dbc;
  color:#fff;
  border: none;
  box-shadow: none;
  outline:none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 40px;
}
.test{
  background: #006dbc;
  color:#fff;
  border: none;
  box-shadow: none;
  outline:none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 40px;
  margin:auto;
  display:block;
}
.card button:hover {
  opacity: 0.7;
}
