<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">IaSiViziteaza</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Attraction type
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/attrtype">List</a>
          <a class="dropdown-item" routerLink="/attrtype/add" *ngIf="isAdmin !== 'false'">Add</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Attractions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/attractions">List</a>
          <a class="dropdown-item" routerLink="/attractions/add" *ngIf="isAdmin !== 'false'">Add</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedin=='false'">
      <li class="nav-item mr-auto">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedin =='true'">
      <li class="nav-item mr-auto" >
        <a class = "navbar-text" > {{firstName}} {{lastName}} {{phoneNumber}} </a>
      </li>
      <li class="nav-item mr-auto">
        <button routerLink="/update"  class="btn" aria-label="Left Align">
          Update
        </button>
      </li>
      <li class="nav-item mr-auto">
        <button (click)="logout()" class="btn" aria-label="Left Align">
          Log out
        </button>
      </li>
    </ul>

  </div>
</nav>
-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block fit-image img-responsive" src="../../assets/images/teatruv2ps.jpg" alt="First slide">
    </div>
    <div class="carousel-item" *ngFor="let attrtype of attractiontypes; let i = index">
      <img class="d-block fit-image img-responsive" class="fit-image" [src]="attrtype.imagePath" alt="i slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
