
.form{
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color:  #006dbc;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.form1{
width: 76%;
color: rgb(38, 50, 56);
font-weight: bold;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.btn {
  background: #006dbc;
  color:#fff;
  border: none;
  box-shadow: none;
  outline:none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 40px;

}


.form-control {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color:  rgb(101, 24, 114);
  padding-top: 15px;
}


