.btn {
    background: #006dbc;
  color:#fff;
  border: none;
  box-shadow: none;
  outline:none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 40px;
  margin:auto;
}
main {
  background: rgba(214, 206, 214, 0.774);
  padding: 20px;
}
main section{
  display:flex;
  flex-wrap:wrap;
}

main section .card {
  width: 50%;
  height: 100px;
  background-color: #fff;
  border-radius:6px;
  box-shadow: -1px 2px 30px 0px rgba(0, 0, 0, 0.55);
  display:flex;
  margin-right: 40px;
  margin-bottom:40px;
  overflow: hidden;
}

.container .imgBx{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.container .imgBx img{

  width: 600px;

  left: -100px;
}
